//Bu Sass Dosyası Emrah KAHRAMAN tarafından kodlanmıştır.

@import "_grid";
@import "_variable";
@import "_mixins";

* {
    box-sizing: border-box;
}

body {
    background-color: $base-color;
    width: 100%;
    min-height: 100vh;
    font-size: $size;
    font-family: $family;
    color: $primary-color;
}